# For Loop <hr style = "border:2.5px solid rgba(12, 2, 58, 1)"></hr>

<b><i>Rica Galagate</i></b>
<br>Computer Engineer/Technician</br>

## Iterating Over A list

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [12]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [13]:
# key-value pair
employee = {'name':['Sidney girl','Hazel-chan'],
            'position':['analyst','programmer'],
            'salary':[800000,100000]}
for key in employee:
    print(key)

name
position
salary

In [14]:
employee['salary']

[800000, 100000]

In [15]:
for value in employee.values():
    print(value)

['Sidney girl', 'Hazel-chan']
['analyst', 'programmer']
[800000, 100000]

# Lambda Function

In [16]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [17]:
y = 4
x = (lambda x : 2*x)(y)
x

8

In [18]:
type(x)

int